.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  gap: 14px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 154, 203, 1);
}
.desktop1-frame51 {
  gap: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desktop1-nav {
  width: 1440px;
  height: 78px;
  display: flex;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame46 {
  gap: 663px;
  top: 11px;
  left: 23px;
  width: 1369px;
  display: flex;
  position: absolute;
  align-items: center;
}
.desktop1-frame34 {
  gap: 747px;
  display: flex;
  align-items: center;
}
.desktop1-group23 {
  width: 88px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-group46 {
  top: 0px;
  left: 0px;
  width: 88.0540771484375px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text {
  left: 21.0540771484375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.79999923706055px;
  font-style: Regular;
  text-align: center;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 55.593997955322266px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-vector {
  top: 13px;
  left: 0px;
  width: 19px;
  height: 29px;
  position: absolute;
}
.desktop1-frame45 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.desktop1-frame44 {
  gap: 10px;
  width: 132px;
  height: 41px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame441 {
  gap: 10px;
  width: 152px;
  height: 42px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame442 {
  gap: 10px;
  width: 134px;
  height: 42px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame443 {
  gap: 10px;
  width: 128px;
  height: 44px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame35 {
  width: 1440px;
  height: 725px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame37 {
  gap: 17px;
  top: 41px;
  left: 78px;
  width: 1315px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop1-frame36 {
  gap: 80px;
  width: 739px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-text10 {
  color: rgba(0, 0, 0, 1);
  width: 1009px;
  height: auto;
  font-size: 207.6923065185547px;
  font-style: Regular;
  text-align: left;
  font-family: Allison;
  font-weight: 400;
  line-height: 216px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  color: rgba(0, 0, 0, 1);
  width: 730px;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: justified;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame444 {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle74 {
  width: 559px;
  height: 606px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 29px;
}
.desktop1-frame38 {
  gap: 10px;
  display: flex;
  padding: 51px 35px;
  overflow: hidden;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  flex-direction: column;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-frame43 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-group22 {
  width: 1369px;
  height: 104px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame39 {
  gap: 695px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.desktop1-text16 {
  color: rgba(0, 0, 0, 1);
  width: 478px;
  height: auto;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 104px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame451 {
  gap: 10px;
  width: 196px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame40 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-frame50 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.desktop1-frame47 {
  width: 299px;
  height: 438px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame48 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle75 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text20 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text22 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame445 {
  gap: 10px;
  width: 117px;
  height: 41px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame481 {
  width: 299px;
  height: 438px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame482 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle751 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text26 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text28 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame446 {
  gap: 10px;
  width: 117px;
  height: 41px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame49 {
  width: 299px;
  height: 438px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame483 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle752 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text32 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text34 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame447 {
  gap: 10px;
  width: 117px;
  height: 41px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text36 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame431 {
  gap: -30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-group221 {
  width: 841px;
  height: 85px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame391 {
  gap: 695px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.desktop1-text38 {
  color: rgba(0, 0, 0, 1);
  width: 841px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 104px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame401 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.desktop1-frame501 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.desktop1-frame471 {
  width: 299px;
  height: 364px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame484 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle753 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text40 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text42 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame485 {
  width: 299px;
  height: 364px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame486 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle754 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text44 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 25.933801651000977px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text46 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame491 {
  width: 299px;
  height: 364px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame487 {
  gap: 19px;
  top: 0px;
  left: 0px;
  width: 299px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-rectangle755 {
  width: 299px;
  height: 218px;
  border-radius: 35px 35px 0 0;
}
.desktop1-text48 {
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text50 {
  color: rgba(0, 0, 0, 1);
  width: 251px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Alice;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame52 {
  width: 1440px;
  height: 799px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-frame61 {
  gap: 69px;
  top: 46px;
  left: 0px;
  width: 1440px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop1-frame58 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desktop1-frame56 {
  display: flex;
  align-items: center;
}
.desktop1-vector1 {
  width: 38px;
  height: 25px;
}
.desktop1-text52 {
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  font-size: 21.560888290405273px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-vector2 {
  width: 38px;
  height: 25px;
}
.desktop1-frame57 {
  gap: 46px;
  display: flex;
  align-items: flex-end;
}
.desktop1-frame53 {
  width: 395px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame55 {
  gap: 18px;
  top: 54px;
  left: 28px;
  width: 339px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop1-text54 {
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  font-size: 21.560888290405273px;
  font-style: Regular;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text56 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group25 {
  width: 150px;
  height: 17.9505672454834px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame54 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 18px;
  position: absolute;
}
.desktop1-frame541 {
  width: 395px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(255, 154, 203, 1);
}
.desktop1-frame551 {
  gap: 18px;
  top: 54px;
  left: 28px;
  width: 339px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop1-text58 {
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  font-size: 21.560888290405273px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text60 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group251 {
  width: 150px;
  height: 17.9505672454834px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame542 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 18px;
  position: absolute;
}
.desktop1-frame552 {
  width: 395px;
  height: 330px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame553 {
  gap: 18px;
  top: 54px;
  left: 28px;
  width: 339px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop1-text62 {
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  font-size: 21.560888290405273px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text64 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group252 {
  width: 150px;
  height: 17.9505672454834px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-frame543 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 18px;
  position: absolute;
}
.desktop1-frame59 {
  width: 1440px;
  height: 222px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.desktop1-frame60 {
  gap: 13px;
  top: 536px;
  left: 347px;
  width: 747px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.desktop1-text66 {
  color: rgba(0, 0, 0, 1);
  width: 566px;
  height: auto;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text68 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Alata;
  font-weight: 400;
  line-height: 33.117523193359375px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame448 {
  gap: 10px;
  width: 132px;
  height: 41px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.desktop1-text70 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text72 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Alice;
  font-weight: 400;
  line-height: 40.52156448364258px;
  font-stretch: normal;
  text-decoration: none;
}
