.issues8-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.issues8-issues8 {
  width: 100%;
  height: 4203px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divrelative {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 4203px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 154, 203, 1);
}
.issues8-divgrid {
  top: 0px;
  left: 32px;
  width: 1376px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 3201px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-footer {
  top: 3779px;
  left: 2px;
  width: 1440px;
  height: 356.3800048828125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 154, 203, 1);
}
.issues8-group59 {
  top: 94px;
  left: 1211px;
  width: 93px;
  height: 126.38435363769531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-form {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 126.38435363769531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group61 {
  top: 120.15869140625px;
  left: 87.62890625px;
  width: 262.1438293457031px;
  height: 99.4736328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group60 {
  top: 0px;
  left: 0px;
  width: 262.1438293457031px;
  height: 99.4736328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-text {
  top: 0.4738726317882538px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 17.767332077026367px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: 14.213865280151367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text002 {
  left: 94.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 13.214452743530273px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text004 {
  top: 20.6025390625px;
  left: 94.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text006 {
  top: 41.5361328125px;
  left: 94.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text008 {
  top: 62.0673828125px;
  left: 94.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 13.99177360534668px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text010 {
  top: 82.4169921875px;
  left: 94.759765625px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 13.325498580932617px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group62 {
  top: 120.15869140625px;
  left: 464px;
  width: 162.51242065429688px;
  height: 99.78924560546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-text012 {
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 17.767332077026367px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: 14.213865280151367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text014 {
  top: 0.31578657031059265px;
  left: 97.89460754394531px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text016 {
  top: 20.917871475219727px;
  left: 97.89460754394531px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text018 {
  top: 41.519954681396484px;
  left: 97.89460754394531px;
  color: rgba(0, 0, 0, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text020 {
  top: 62.1301383972168px;
  left: 97.89460754394531px;
  color: rgba(0, 0, 0, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text022 {
  top: 82.73260498046875px;
  left: 97.89460754394531px;
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group63 {
  top: 124.1064453125px;
  left: 740px;
  width: 286.16473388671875px;
  height: 78.17625427246094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-text024 {
  color: rgba(0, 0, 0, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 15.824029922485352px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: 14.213865280151367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text026 {
  top: 0.31591796875px;
  left: 121.583984375px;
  color: rgba(0, 0, 0, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text028 {
  top: 20.91845703125px;
  left: 121.583984375px;
  color: rgba(0, 0, 0, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text030 {
  top: 41.5205078125px;
  left: 121.583984375px;
  color: rgba(0, 0, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text032 {
  top: 60.80375671386719px;
  left: 121.6075210571289px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 14.213865280151367px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 17.056638717651367px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text034 {
  top: 309px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 14.630000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group64 {
  top: 114px;
  left: 963px;
  width: 495.149169921875px;
  height: 206.02000427246094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group58 {
  top: 0px;
  left: 0px;
  width: 420px;
  height: 206.02000427246094px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.issues8-heading3 {
  top: 19.5068359375px;
  left: 27.7001953125px;
  width: 464.4192199707031px;
  height: 18.689302444458008px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-text036 {
  color: rgba(0, 0, 0, 1);
  width: 277px;
  height: auto;
  position: absolute;
  font-size: 15.459900856018066px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 18.697959899902344px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text038 {
  top: -4.328231334686279px;
  left: 288.8789978027344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20.676576614379883px;
  font-style: Regular;
  text-align: center;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 27.499847412109375px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-vector {
  top: 2.1024045944213867px;
  left: 277.0068054199219px;
  width: 12px;
  height: 15px;
  position: absolute;
}
.issues8-div-formnewsletter-input-wrap {
  top: 69.359375px;
  left: 27.7001953125px;
  width: 467.448974609375px;
  height: 60.932838439941406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-input {
  top: 4.640625px;
  left: 0.2998046875px;
  width: 371px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0 0 1.731292486190796px;
}
.issues8-divplaceholder {
  top: -9px;
  left: 0px;
  width: 371px;
  height: 36.35714340209961px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-text040 {
  color: rgba(150, 150, 150, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 31.163265228271484px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-arrowright8eb49d877esvgfill {
  top: 10px;
  left: 355px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.issues8-button {
  top: 15.581526756286621px;
  left: 451.8673400878906px;
  width: 16px;
  height: 15.581632614135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-div-formnewsletter-checkbox-group {
  top: 130.292236328125px;
  left: 27.7001953125px;
  width: 205.4698028564453px;
  height: 15.581632614135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-input1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.731292486190796px;
}
.issues8-label {
  top: 0.0002350061113247648px;
  left: 23.37244987487793px;
  width: 182px;
  height: 15.581632614135742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-text042 {
  top: -0.432588130235672px;
  left: -0.0005978954141028225px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 15.459900856018066px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 15.581632614135742px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text043 {
  text-decoration: NONE;
}
.issues8-text044 {
  text-decoration: UNDERLINE;
}
.issues8-main {
  top: 0px;
  left: 0px;
  width: 1376px;
  height: 3745px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-divflex {
  top: 2215px;
  left: 0px;
  width: 1376px;
  height: 905px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 1);
}
.issues8-divhidden {
  top: 15.1904296875px;
  left: 16px;
  width: 296px;
  height: 954.8099975585938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-spantextcaps {
  top: -0.8095703125px;
  left: 0px;
  width: 296px;
  height: 19.420000076293945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-spantextheadinglg {
  top: 18.6103515625px;
  left: 0px;
  width: 296px;
  height: 461.3900146484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divflex1 {
  top: 480px;
  left: 0px;
  width: 296px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divoverflowhidden {
  top: 16px;
  left: 312px;
  width: 936px;
  height: 954px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divrelative1 {
  top: 0px;
  left: 328px;
  width: 296px;
  height: 954px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.issues8-divrelative2 {
  top: 0px;
  left: 640px;
  width: 296px;
  height: 954px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.issues8-divrelative3 {
  top: 0px;
  left: 16px;
  width: 296px;
  height: 954px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.issues8-divbggreige {
  top: 0px;
  left: 0px;
  width: 1376px;
  height: 264px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(224, 217, 203, 1);
}
.issues8-divmaxw1264 {
  top: 64.431640625px;
  left: 55.99609375px;
  width: 1264px;
  height: 312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divflex2 {
  top: 68.58000183105469px;
  left: 544px;
  width: 720px;
  height: 174.02999877929688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-divflex3 {
  top: 130.6103515625px;
  left: 95px;
  width: 625px;
  height: 42.61000061035156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group31 {
  top: 25px;
  left: 40px;
  width: 1296px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-nav {
  top: 0px;
  left: 0px;
  width: 1296px;
  height: 78px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  background-color: rgba(212, 237, 109, 1);
}
.issues8-divflex4 {
  top: 23.68994140625px;
  left: 32px;
  width: 581px;
  height: 30.6299991607666px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-link {
  top: 31px;
  left: 637.330078125px;
  width: 581px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-list {
  top: 31px;
  left: 1242.66015625px;
  width: 581px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-frame25 {
  gap: 10px;
  top: 21px;
  left: 510px;
  width: 117px;
  display: flex;
  padding: 6px 34px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-text045 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 18.55949592590332px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-frame28 {
  gap: 10px;
  top: 22px;
  right: 22px;
  width: 102px;
  display: flex;
  padding: 6px 34px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-text047 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 18.55949592590332px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group23 {
  top: 11px;
  left: 23.35135269165039px;
  width: 75.648681640625px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group46 {
  top: 0px;
  left: 0px;
  width: 75.648681640625px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-text049 {
  left: 7.648681640625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 41.79999923706055px;
  font-style: Regular;
  text-align: center;
  font-family: Times New Roman;
  font-weight: 400;
  line-height: 55.593997955322266px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-vector1 {
  top: 13px;
  left: 0px;
  width: 18px;
  height: 29px;
  position: absolute;
}
.issues8-frame27 {
  gap: 10px;
  left: 885px;
  width: 121px;
  bottom: 21px;
  display: flex;
  padding: 6px 34px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-text051 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 18.55949592590332px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-frame26 {
  gap: 10px;
  top: 24px;
  left: 719px;
  display: flex;
  padding: 6px 34px;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(239, 236, 230, 1);
}
.issues8-text053 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 18.55949592590332px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text055 {
  top: 376px;
  left: 580.68359375px;
  color: rgba(0, 0, 0, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 79.30257415771484px;
  font-style: Regular;
  text-align: center;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 99.51695251464844px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-divflex5 {
  top: 1842.431396484375px;
  left: -0.00390625px;
  width: 1376px;
  height: 538.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-spantextheadinglg1 {
  top: 48px;
  left: 324.55078125px;
  width: 727px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-region-list-carouselslides {
  top: 128px;
  left: 316px;
  width: 744px;
  height: 354.6099853515625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-listitem {
  top: 0px;
  left: -228px;
  width: 384px;
  height: 354.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-listitem1 {
  top: 0px;
  left: 588px;
  width: 384px;
  height: 354.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-region-list-carouselslides1 {
  top: 0.568603515625px;
  left: -64.99609375px;
  width: 744px;
  height: 354.6099853515625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-listitem2 {
  top: 0px;
  left: -228px;
  width: 384px;
  height: 354.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-listitem3 {
  top: 0px;
  left: 588px;
  width: 384px;
  height: 354.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-region-list-carouselslides2 {
  top: 0.568603515625px;
  left: 16.00390625px;
  width: 744px;
  height: 354.6099853515625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-listitem4 {
  top: 0px;
  left: 588px;
  width: 384px;
  height: 354.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group77 {
  top: 286.568603515625px;
  left: 87.00390625px;
  width: 28.53658676147461px;
  height: 25.365798950195312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group76 {
  top: 0px;
  left: 0px;
  width: 28.53658676147461px;
  height: 25.365798950195312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-vector2 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 25px;
  position: absolute;
}
.issues8-group771 {
  top: 277.568603515625px;
  left: 120.00390625px;
  width: 595.9623413085938px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group761 {
  top: 0px;
  left: 0px;
  width: 595.9623413085938px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group40 {
  top: 0px;
  left: 0px;
  width: 595.9623413085938px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-text057 {
  color: rgba(0, 0, 0, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-vector3 {
  top: 10px;
  right: 2px;
  width: 29px;
  height: 25px;
  position: absolute;
}
.issues8-divmaxw12641 {
  top: 2799.661376953125px;
  left: 55.99609375px;
  width: 1264px;
  height: 474.6099853515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group44 {
  top: 566.9999389648438px;
  left: 56px;
  width: 1264px;
  height: 697px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle89 {
  top: 0px;
  left: 0px;
  width: 1264px;
  height: 697px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
}
.issues8-text059 {
  left: 525px;
  color: rgb(0, 0, 0);
  bottom: 526px;
  height: auto;
  position: absolute;
  font-size: 55.6137px;
  font-style: Regular;
  text-align: left;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 84.6062px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group83 {
  top: 3274px;
  left: 56px;
  width: 1266px;
  height: 343.04302978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-tips21 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 343.04302978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group311 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 343.04302978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle79 {
  top: -36px;
  left: -6px;
  width: 392px;
  height: 400px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  border-radius: 24.603496551513672px;
}
.issues8-rectangle80 {
  top: -24px;
  left: 6px;
  width: 368px;
  height: 209px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  border-radius: 17px;
}
.issues8-text060 {
  color: rgba(0, 0, 0, 1);
  right: 29px;
  bottom: -1px;
  height: auto;
  position: absolute;
  font-size: 13.979299545288086px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 15.976344108581543px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text062 {
  top: 191px;
  color: rgb(0, 0, 0);
  right: -3px;
  height: auto;
  position: absolute;
  font-size: 28.4028px;
  font-style: Regular;
  text-align: left;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 35.8889px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text063 {
  left: -1px;
  color: rgba(0, 0, 0, 1);
  width: 350px;
  bottom: 23px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: justified;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-tips20 {
  top: 0px;
  left: 434px;
  width: 400px;
  height: 343.04302978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group312 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 343.04302978515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle791 {
  top: -38px;
  left: -6px;
  width: 390px;
  height: 400px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  border-radius: 24.603496551513672px;
}
.issues8-rectangle801 {
  top: -28px;
  left: 0px;
  width: 372px;
  height: 212px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  border-radius: 17px;
}
.issues8-text065 {
  color: rgba(0, 0, 0, 1);
  right: 42px;
  bottom: -2px;
  height: auto;
  position: absolute;
  font-size: 13.979299545288086px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 15.976344108581543px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text067 {
  top: 193px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 31.402774810791016px;
  font-style: Regular;
  text-align: left;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 35.88888931274414px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text069 {
  left: 7px;
  color: rgba(0, 0, 0, 1);
  width: 350px;
  bottom: 30px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: justified;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-tips01 {
  top: 0px;
  left: 868px;
  width: 398px;
  height: 343.0400085449219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.issues8-group313 {
  top: 0px;
  left: 0px;
  width: 398px;
  height: 343.0400085449219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle792 {
  top: -42px;
  left: -9px;
  width: 396px;
  height: 398px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  border-radius: 24.603496551513672px;
}
.issues8-rectangle802 {
  top: -32px;
  left: 4px;
  width: 373px;
  height: 217px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2.1088709831237793px;
  border-radius: 17px;
}
.issues8-text071 {
  color: rgba(0, 0, 0, 1);
  right: 29px;
  bottom: 7px;
  height: auto;
  position: absolute;
  font-size: 13.979299545288086px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 15.976344108581543px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text073 {
  top: 187px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 31.402774810791016px;
  font-style: Regular;
  text-align: left;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: 35.88888931274414px;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text075 {
  left: 7px;
  color: rgba(0, 0, 0, 1);
  width: 348px;
  bottom: 52px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: justified;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group57 {
  top: 1326px;
  left: 86px;
  width: 1264px;
  height: 822px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.issues8-text077 {
  top: 218px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  width: 1169px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semilight;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text087 {
  top: 102px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  width: 1189px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: italic;
  text-align: center;
  font-family: MAZIUS REVIEW 20.09;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-group72 {
  top: 32px;
  left: 407px;
  width: 441.2529296875px;
  height: 45.93704605102539px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.issues8-text089 {
  left: 52.7451171875px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 30.62469482421875px;
  font-style: Medium;
  text-align: left;
  font-family: Barlow;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text091 {
  top: 17px;
  left: 423.2529296875px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 15.312347412109375px;
  font-style: Medium;
  text-align: left;
  font-family: Barlow;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text093 {
  top: 17px;
  left: 304.7451171875px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 15.312347412109375px;
  font-style: Medium;
  text-align: left;
  font-family: Barlow;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-visibility {
  top: 21px;
  right: -7px;
  width: 67px;
  height: 13px;
  position: absolute;
}
.issues8-calendarmonth {
  left: 285px;
  width: 11px;
  bottom: 11px;
  height: 17px;
  position: absolute;
}
.issues8-accountcircle {
  left: 262px;
  width: 16px;
  bottom: 8px;
  height: 21px;
  position: absolute;
}
.issues8-group80 {
  top: 2381px;
  left: 88px;
  width: 1493.0328369140625px;
  height: 595px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle58 {
  top: 0px;
  left: 0px;
  width: 1248px;
  height: 595px;
  position: absolute;
}
.issues8-group75 {
  top: 84px;
  left: 60px;
  width: 1433.0328369140625px;
  height: 425.6300048828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-group68 {
  top: 0px;
  left: 0px;
  width: 1134px;
  height: 340.87091064453125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle62 {
  top: 0px;
  left: 0px;
  width: 1134px;
  height: 85px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 14.321663856506348px;
}
.issues8-text095 {
  top: 294px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 31.247264862060547px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-send {
  top: 24px;
  left: 1070px;
  width: 42px;
  height: 36px;
  position: absolute;
}
.issues8-group70 {
  top: 21px;
  left: 0px;
  width: 1134px;
  height: 404.6300048828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle621 {
  top: 320px;
  left: 0px;
  width: 1134px;
  height: 85px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 14.321663856506348px;
}
.issues8-text097 {
  left: 23px;
  color: rgba(189, 189, 189, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 23.435449600219727px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text099 {
  top: 341px;
  left: 23px;
  color: rgba(189, 189, 189, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 23.435449600219727px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-send1 {
  top: 344px;
  left: 1070px;
  width: 42px;
  height: 36px;
  position: absolute;
}
.issues8-group69 {
  top: 121px;
  left: 0px;
  width: 1433.0328369140625px;
  height: 136.6300048828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.issues8-rectangle622 {
  top: 52px;
  left: 0px;
  width: 1134px;
  height: 85px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 14.321663856506348px;
}
.issues8-text101 {
  top: 73px;
  left: 23px;
  color: rgb(0, 0, 0);
  width: 1410px;
  height: auto;
  position: absolute;
  font-size: 18.2276px;
  font-style: Regular;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.issues8-text106 {
  left: 6px;
  color: rgba(0, 0, 0, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 31.247264862060547px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
